Repository leif-ai-coop/qsdokfinder-web, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, components, api, tests, documentation, dependencies, configuration, docker, ci/cd, security, performance

.github/labeler.yml:

# Configuration for the labeler action

# Pull request labels based on file changes
frontend:
  - 'src/**/*'
  - 'public/**/*'

styling:
  - 'src/**/*.css'
  - 'src/**/*.scss'
  - 'src/**/*.less'
  - 'tailwind.config.js'
  - 'postcss.config.js'

components:
  - 'src/components/**/*'

api:
  - 'src/api.js'
  - 'src/api/**/*'

tests:
  - 'src/**/*.test.js'
  - 'src/**/*.test.jsx'
  - 'src/**/*.test.ts'
  - 'src/**/*.test.tsx'
  - 'src/**/*.spec.js'
  - 'src/**/*.spec.jsx'
  - 'src/**/*.spec.ts'
  - 'src/**/*.spec.tsx'
  - '__tests__/**/*'

documentation:
  - '*.md'
  - 'docs/**/*'
  - '.github/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'

configuration:
  - '*.config.js'
  - '*.config.json'
  - '.env*'
  - '.eslintrc*'
  - '.prettierrc*'
  - 'tsconfig.json'

docker:
  - 'Dockerfile'
  - 'docker-compose*.yml'
  - '.dockerignore'

ci/cd:
  - '.github/workflows/**/*'
  - '.github/actions/**/*'

security:
  - '.github/workflows/security.yml'
  - 'package-lock.json'

performance:
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.ts'
  - 'src/**/*.tsx'
  - 'webpack.config.js'
  - '.lighthouserc.json'

web: update build-and-deploy workflow to allow tests to pass with no tests run and continue on error, enhancing CI flexibility
  .github/workflows/build-and-deploy.yml
Labels: documentation, ci/cd

web: update build-and-deploy workflow to set permissions, adjust node version, and enhance CI configuration with concurrency and QEMU setup for improved build efficiency
  .github/workflows/build-and-deploy.yml
Labels: documentation, ci/cd

web: update build-and-deploy workflow to run npm audit with production flag and high severity level, allowing the process to continue on error for improved CI resilience
  .github/workflows/build-and-deploy.yml
Labels: documentation, ci/cd

web: update .gitignore to include .env file, ensuring sensitive environment variables are not tracked in version control
  .gitignore
Labels: none

Build-Test
  .gitignore
Labels: none

web: update Footer component to replace placeholder links with actual URLs for Nutzungsbedingungen, Datenschutzerklärung, and Impressum, improving accessibility and user navigation
  src/components/Footer.js
Labels: frontend, components, performance

web: clean up imports in AlternativeFiltersPanel component by removing unused Button import, enhancing code maintainability
  src/components/AlternativeFiltersPanel.js
Labels: frontend, components, performance

web: update Footer component to remove trailing period from copyright text, enhancing consistency in presentation
  src/components/Footer.js
Labels: frontend, components, performance

web: update Footer component links to use the correct domain, ensuring accurate navigation to Nutzungsbedingungen, Datenschutzerklärung, and Impressum
  src/components/Footer.js
Labels: frontend, components, performance

web: enhance App, AlternativeFiltersPanel, and FiltersPanel components by adding modulesLoading state to manage loading indicators for module data, improving user experience during data fetching
  src/App.js
  src/components/AlternativeFiltersPanel.js
  src/components/FiltersPanel.js
Labels: frontend, components, performance
